@model RetailApp.Models.Sale

@{
    ViewBag.Title = "ManagerHome";
}

<h2>Manager Home</h2>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ['Product', 'Units Sold'],
            ['iPhoneXS', 11],
            ['SamsungS10', 10],
            ['AirPods', 2],
            ['ToughArmor', 7],
            ['ScreenProtector', 7]
        ]);

        var options = {
            title: 'Overall Sales'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }
</script>

<body>
    <div id="piechart" style="width: 900px; height: 500px;"></div>
</body>