@using RetailApp.Models
@model ChargeViewModel
@{
    ViewBag.Title = "OrderStatus";
}

<h2>Order Status</h2>

<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Payment Successful!</strong> Your confirmation ID is <a href="#" class="alert-link">@Model.ChargeId</a>.
</div>
