
@{
    ViewBag.Title = "PageRedirect";
}

<h4 class="text-center">Not Logged In</h4>

<div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>You're not logged in!</strong> Register or log in to access the site.
</div>